<div class="jumbotron text-center">
    <h1 class="display-4 text-uppercase">Saved Stories</h1>
    <a class="btn btn-primary btn-lg" href="#" role="button">Scrape New Articles</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Clear Articles</a>
</div>


{{#each saved}}
<div class="card mb-3" data-story-id="{{this._id}}">
    <div class="row no-gutters">
        {{#if this.image}}
        <div class="col-md-4">
            <img src="{{this.image}}" class="card-img" alt="Article Image">
        </div>
        {{/if}}
        <div class="col-md-8">
            <div class="card-body">
                <a href="{{link}}" class="text-body" target="_blank">
                    <h5 class="card-title">{{this.headline}}</h5>
                </a>
                <p class="card-text">{{this.summary}}</p>
                <a href="#" class="btn btn-danger removeFromSaved">Remove From Saved</a>
                <a href="#" class="btn btn-info seeNotes">Notes</a>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{#unless saved}}
<div class="row text-center justify-content-center">
    <div class="col-md-6">
        No saved stories yet.
    </div>
</div>
{{/unless}}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
{{!-- <script src="sweetalert2.all.min.js"></script> --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="./js/saved.js"></script>